<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
    <body>
        <div class="d-flex justify-content-center bg-danger bg-gradient">
            <h1>Instagram Follower Checker</h1>
        </div>
        <br/>

        <div class="d-flex justify-content-center">
            <form action="/form" method="POST" enctype="multipart/form-data">
                <h6>Select Followers JSON FIle</h6>
                <div class="mb-3">
                    <input type="file" class="custom-file-input" id="follower_file" name="followers_file">
                </div>
                <br/>
                <h6>Select Following JSON FIle</h6>
                <div class="mb-3">
                    <input type="file" class="custom-file-input" id="following_file" name="following_file">
                </div>
        
                <button type="submit" class="btn btn-primary">Submit</button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  How To Use
                </button>
            </form>
        </div>
        <br/>     
        <br/>
        

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">How To Use</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    </div>
        
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{{url_for('static', filename='slide1.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Step 1</h5>
                          <p>Click settings button on profile</p>                
                        </div>
                      </div>
        
                      <div class="carousel-item">
                        <img src="{{url_for('static', filename='slide2.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Step 2</h5>
                          <p>Click "Privacy and Security"</p>
                        </div>
                      </div>
        
                      <div class="carousel-item">
                        <img src="{{url_for('static', filename='slide3.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Step 3</h5>
                          <p>Click "Request Download"</p>
                        </div>
                      </div>
        
                      <div class="carousel-item">
                        <img src="{{url_for('static', filename='slide4.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Step 4</h5>
                          <p>Enter email, SELECT JSON (IMPORTANT), continue</p>
                        </div>
                      </div>
        
                      <div class="carousel-item">
                        <img src="{{url_for('static', filename='slide5.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Step 5</h5>
                          <p>Download information from email when it arrives (usually in 48hrs)</p>
                        </div>
                      </div>
        
                      <div class="carousel-item">
                        <img src="{{url_for('static', filename='slide6.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Step 6</h5>
                          <p>Open file, open "followers_and_following"</p>
                        </div>
                      </div>
        
                      <div class="carousel-item">
                        <img src="{{url_for('static', filename='slide7.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Step 7</h5>
                          <p>Find "followers.json" and "following.json." These are the files you'll submit on this site.</p>
                        </div>
                      </div>
        
                    </div>
        
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
        
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
        
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <br/> 
        <br/> 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>

  